/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body{
    font-family: Arial, sans-serif;
    background: url(picture/background.jpg);
    background-size: cover;
    color: rgb(0, 0, 0);
}

.darkMode{
    display: block;
    text-align: right;
}
.dark-mode {
    background: black;
    background-color: black;
    color: white;
  }
.dark-mode .header-nav{
    background-color: rgba(27, 27, 27, 0.796);
    color: rgb(255, 255, 255);
}
.dark-mode .nav{
    color: rgb(255, 255, 255);
    background-color: #292828;
}

.dark-mode main{
    background: #3c3c3c8c;
}

.dark-mode footer{
    color: rgb(254, 252, 252);
    background: #3c3c3c8c;
}

/* Header and Nav Combined */
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(249, 255, 133, 0.796);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Logo Area */
.logo h1 {
    font-size: 1.5em;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    display: block;
    align-items: right;
}
.group1{
    display: flex;
    padding: 10px 20px;
    gap: 10px;
}
.group2{
    display: flex;
    padding: 10px 20px;
     gap: 10px;
}

@media (max-width: 720px) {
    nav ul {
        display: block;
        align-items: right;
        gap: 0px;
    }
    .group1{
        display: flex;
        padding: 10px 20px;
        gap: 0px;
    }
    .group2{
        display: flex;
        padding: 10px 20px;
        gap: 0px;
    }
   
}

.nav {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 8px 15px;
    background-color: #fcfcfc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav:hover {
    background-color: #007BFF;
}

/* Main Content Area */
main {
    margin-top: 100px; 
    padding: 20px;
    background: #dfdcc38c;
    text-align: center;
}


/* Footer */
footer {
    background:  #e5e7c08c;
    padding: 10px;
    text-align: left;
    margin-top: 20px;
    color: rgb(0, 0, 0);
}

.selfie {
    width: 15%;
    height: 15%;
    border-radius: 50%;
    border: 5px solid #ffffff;
}

.art{ 
    display: block;
    align-items: center;
}

.art img{
    max-width: flex;
    height: 200px;
    border-radius: 10px;
}




